<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <link rel="icon" href="/rogry-logo.svg">
    <title>Blog RoGry | <%= title %></title>
</head>
