@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');

.accent {
    color: crimson;
    font-weight: bolder;
    text-decoration: underline;
}

body {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 0 20px;
    font-family: 'Noto Serif', serif;
    max-width: 1200px;
    position: relative;
}

p, h1, h2, h3, a, ul {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #222;
}

/* nav & footer styles */
nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
    text-transform: uppercase;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

nav li {
    list-style-type: none;
    margin-left: 20px;
}

nav h1 {
    font-size: 3em;
}

nav p, nav a {
    color: #777;
    font-weight: 300;
}

footer {
    color: #777;
    text-align: center;
    margin-top: auto;
    padding: 0 0 30px;
    /*margin: 40px auto;*/
    /*position: absolute;*/
    bottom: 0;
    width: 100%;
    text-align: center;
}

h2 {
    margin-bottom: 40px;
}

h3 {
    text-transform: capitalize;
    margin-bottom: 8px;
}

.content {
    margin-left: 20px;
}

/* index styles */

.blogs a {
    display: block;
    margin: 40px 0;
    padding-left: 30px;
    border-left: 6px solid crimson;
}

.blogs a:hover h3 {
    color: crimson;
}

/* details styles */

.details {
    position: relative;
}

.delete {
    position: absolute;
    top: 0;
    right: 0;
    padding: 8px 16px;
}

.delete:hover {
    cursor: pointer;
    color: crimson;
    border: 1px solid crimson;
}

/* create styles */
.create-blog form {
    max-width: 400px;
    margin: 0 auto;
}

.create-blog input,
.create-blog textarea {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 8px;
}

.create-blog label {
    display: block;
    margin-top: 24px;
}

textarea {
    height: 120px;
}

.create-blog button {
    margin-top: 20px;
    background: crimson;
    color: white;
    padding: 6px;
    border: 0;
    font-size: 1.2em;
    cursor: pointer;
}

.details h2 {
    text-transform: capitalize;
}

.snippet::first-letter {
    text-transform: uppercase;
}
