<!doctype html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
<%- include('./partials/nav.ejs') %>

<div class="about content">
    <h2>About Website</h2>
    <p>Welcome! My name Roman Hrytsyshyn and I am Front-end Developer.</p>
    <p>This is my little full-stack pet project, which I created using ExpressJS framework for Back-end, EJS for
        Front-end part and MongoDB as Database. Here you can add some new articles or whatever you want by clicking <span class="accent">NEW BLOG</span>
        button which you are able to find on the navbar. Also, you can read blogs that already exist if they do though.
        However, if they don't exist - it is a good chance for you to become the first who will do it :) If you don't
        like somebody's article or blog, you can easily delete it - the same you can do with your own blogs.
    </p>
</div>
<%- include('./partials/footer.ejs') %>

</body>
</html>
