<!doctype html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
<%- include('./partials/nav.ejs') %>
<div class="not-found content">
   OOPS, page not found :)
</div>
<%- include('./partials/footer.ejs') %>

</body>
</html>
