<!doctype html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
<%- include('./partials/nav.ejs') %>

<div class="blogs content">
    <h2>All Blogs</h2>
    <% if (blogs.length > 0) { %>
        <% blogs.forEach(({title, snippet, id}) => { %>
            <a href="/blogs/blog/<%=id%>" class="single">
                <h3 class="title"><%= title %></h3>
                <p class="snippet"><%= snippet %></p>
            </a>
        <% }) %>
    <% } else { %>
        <p>No blogs to display</p>
    <% } %>
</div>
<%- include('./partials/footer.ejs') %>
</body>
</html>
